.Album {
  width: calc(100% + var(--golden5) * 2);
  margin-left: calc(var(--golden5) * -1);
  height: 450px;
  display: grid;
  grid-template-columns: var(--golden5) 1fr var(--golden5);
  
  button {
    background-color: transparent;
    background-size: 20px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    border: none;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }
  
  &__PrevBtn {
    background-image: url(/img/album-arrow-left.png);
  }
  
  &__NextBtn {
    background-image: url(/img/album-arrow-right.png);
  }
  
  &__Inner {
    overflow: hidden;
  }
  
  &__InnerImages {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .SingleImage {
    height: 400px;
    flex-shrink: 0;
    padding-right: var(--golden7);
    
    img {
      height: 100%;
      width: auto;
    }
  }
}