// Simple breakpoint mixin
@mixin breakpoint($class) {
  @if $class == sm {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) and (max-width: 1200px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin only supports: sm, md, lg";
  }
}

@mixin linkStyle() {
    a {
      color: black;
      text-decoration: none;
      border-bottom: 1px dashed #000;
      transition: background-color;

      &:hover {
        color: #cb2424;
        border-bottom: 1px solid #cb2424;
        background-color: rgb(255, 255, 188);
      }
    }
}