@use "../global/mixins" as *;

.Home {
  section {
    border-bottom: 1px solid #000;
    padding: var(--golden5);
    &:last-child {
      border-bottom: none;
    }
  }

  h2 {
    margin-bottom: 20px;
  }
}

.Mast {
  display: flex;
  width: var(--base-width);
  height: var(--base-width);
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--golden4);

  @include breakpoint(sm) {
    border-top: 1px solid #000;
    width: 100%;
    min-height: 90vh;
    padding-top: var(--golden7);
  }

  @include linkStyle();

  &__Interactive {
    height: 600px;
    width: 100%;
    top: 0;
    position: absolute;
    left: 0;

    @include breakpoint(sm) {
      height: 400px;
    }
  }
}

.Tagline {
  padding: 0 !important;
  display: grid;
  grid-template-columns: var(--golden2) var(--golden1);
  height: var(--golden2);

  @include breakpoint(sm) {
    display: block;
    height: auto;
  }

  &__Text {
    padding: var(--golden6);

    h3 {
      font-size: 40px;
      @include breakpoint(sm) {
        font-size: 30px;
        padding: var(--golden3) var(--golden5);
      }
    }
  }
  &__Interactive {
    border-right: 1px solid #000;
    overflow: hidden;
    // background-color: gray;
    padding: 6px;
    mix-blend-mode: multiply;

    .PhaserBlock__Loading {
      // background-image: url(/img/interactive-placeholder.png);
      background-size: contain;
      width: 100%;
      height: 100%;
      display: block;
    }

    @include breakpoint(sm) {
      display: block;
      height: 100px;
      border-bottom: 1px solid #000;
      border-right: none;
      display: none;
    }

    canvas {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.Research {
  // Font overrides in type.scss

  @include linkStyle();

  h3 {
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 30px;
    display: block;
  }

  & > h3 {
    padding-top: 30px;
  }

  h4 {
    font-size: 25px;
    margin-top: 20px;
    text-transform: none;
  }

  p {
    margin-top: 15px;
  }

  &__Projects {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
  }

  &__ProjectsImage img {
    width: 110%;
    float: left;
    mix-blend-mode: multiply;
  }
}

.Works {
  @include linkStyle();

  h3 {
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 0;
  }

  p {
    font-size: 18px;
  }

  &__Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    @include breakpoint(sm) {
      // display: block;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "item1 item2"
        "item3 item3";
      gap: var(--golden6);
    }
  }

  &__Row li {
    list-style: none;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    margin-left: -1px;
    padding: 0 var(--golden7);

    @include breakpoint(sm) {
      border: none;
      padding: 0;
    }
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  &__Row li .ProjectThumb {
    height: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 10px;
    @include breakpoint(sm) {
      display: block;
      height: auto;
    }
  }
  &__Row li img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
  }

  &__Middle {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: var(--golden6) 0;
    margin: var(--golden6) 0;
  }

  &__Middle a {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: var(--golden7);

    border: none;
    &:hover {
      border: none;
      background-color: transparent !important;
    }

    @include breakpoint(sm) {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      @include breakpoint(sm) {
        margin-top: 30px;
      }
    }
  }
}

.Contact {
  padding: 0 !important;
  display: grid;
  grid-template-columns: 60% 40%;

  @include breakpoint(sm) {
    display: block;
  }

  &__Text {
    padding: var(--golden5);

    p {
      padding-bottom: var(--golden7);
    }
  }

  &__Links {
    padding: 0 var(--golden7);

    img {
      width: 100%;
      height: auto;
      mix-blend-mode: multiply;
      @include breakpoint(sm) {
        display: none;
      }
    }

    ul {
      padding: 0;
      list-style: none;
      @include breakpoint(sm) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
      }
    }

    ul li {
      margin-top: var(--golden7);
      @include breakpoint(sm) {
        text-align: center;
      }
    }

    ul li {
      @include linkStyle();
    }

    h4 {
      font-size: 30px;
      font-weight: 500;
    }
  }
}

.Coliphon {
  h2 {
    text-transform: none;
    @include breakpoint(sm) {
      font-size: 50px;
    }
  }
  &__Credits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--golden7);

    @include breakpoint(sm) {
      display: block;
    }

    @include linkStyle();

    h4 {
      font-size: 30px;
      margin-top: var(--golden7);
      margin-bottom: 5px;
      @include breakpoint(sm) {
        margin-top: var(--golden5);
      }
    }

    p.footnote {
      font-size: 15px;
      line-height: 20px;
      font-style: italic;
      margin-top: var(--golden8);
    }
  }
}
