@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap");

body {
  font-family: "Inter", sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

h1 {
  font-size: 47px;
  margin: 0;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

h3 a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}
h3 a:hover {
  border-bottom: 1px solid #000;
}
p {
  font-size: 18px;
  line-height: 25px;
  margin-top: 0;
}

a {
  color: black;
}

a:hover {
  color: #e68a82;
}

.Header__Content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.Header__Content h3 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  display: inline-block;
}

@media (max-width: 768px) {
  .Header__Content {
    display: block;
  }
}

.Header__Description p span {
  background: #fff9e0;
}

@media (max-width: 768px) {
  .Header__Headshot {
    display: none;
  }
}

.Header__Headshot img {
  width: 100%;
  height: auto;
}

.Updates {
  margin-top: 40px;
}

.Updates h2 {
  border-top: 1px solid #eeeeee;
  padding-top: 30px;

}
.Updates h3 {
  padding-bottom: 10px;
}

.Updates ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Update {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 30px;
}
@media (max-width: 768px) {
  .Update {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.Update__Thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .Update__Thumbnail {
    display: none;
  }
}

.Update__Description p {
  font-size: 14px;
  line-height: 20px;
}
.Update__CalloutLink {
  display: inline-block;
  color: #e68a82;
  border: 1px solid #e68a82;
  color: #e68a82;
  /* font-weight: bold; */
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
.Update__CalloutLink:hover {
  background-color: #e68a82;
  color: white;
  cursor: pointer;
}
