@use "../global/mixins" as *;

.Layout {
  width: calc(var(--base-width) + 150px);
  display: grid;
  grid-template-columns: var(--base-width) 1fr;
  margin-left: var(--golden7);

  @include breakpoint(sm) {
    display: block;
    width: calc(100vw - var(--golden7) * 2);
    border-right: 1px solid #000;

  }

  &__Content {
    border-left: 1px solid #000;
  }
  &__Nav {
    border-left: 1px solid #000;
    position: relative;
  }
}
