@use "../global/mixins" as *;

.MainNav {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: var(--golden7);
  z-index: 1000;
  @include breakpoint(sm) {
    display: none;
  }
  
  &.--isHome .MainNav__Sticky {
    margin-top: 450px;
  }

  &__Sticky {
    margin-top: var(--golden7);

    transition: top 0.3s ease;
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
  }

  ul li {
    @include linkStyle();
  }

  &__Primary li {
    font-size: 35px;
    text-transform: uppercase;
    li {
      margin: 1px 0;
    }
  }
  &__Secondary li {
    font-size: 18px;
    margin: 10px 0;
  }
}

.MainNav__Sticky.scrolled {
  top: 30px; /* Once scrolled past 30vh, sticks at 30px */
  position: sticky;
}
